.inputWrapper {
  background: #FFF;
  margin-top: 20px;
}

.textArea {
  border: none;
  overflow: auto;
  resize: none;
  background: #FFF;
  padding: 25px 0 0 30px;
}

.textArea:focus {
  outline: 0;
}

.textArea::placeholder{
  color: #868686;
}

.colors {
  display: flex;
  align-items: center;
  background: #FFF;
  margin-bottom: 20px;
  margin-left: 20px;
}

.container {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.container input {
  display: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

/* Pink */

.pink {
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='-10 -18 100 135'%3E%3Ccircle cx='50' cy='50' r='50' fill='%23F06292' stroke='none' stroke-width='3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.container input:checked~.pink {
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='-10 -18 100 135'%3E%3Ccircle cx='50' cy='50' r='50' fill='%23F06292'/%3E%3Cpath fill='%23A34263' d='M72 25L42 71 27 56l-4 4 20 20 34-52z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

/* Purple */

.purple {
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='-10 -18 100 135'%3E%3Ccircle cx='50' cy='50' r='50' fill='%23BA68C8' stroke='none' stroke-width='3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.container input:checked~.purple {
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='-10 -18 100 135'%3E%3Ccircle cx='50' cy='50' r='50' fill='%23BA68C8'/%3E%3Cpath fill='%2372407B' d='M72 25L42 71 27 56l-4 4 20 20 34-52z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

/* Yellow */

.yellow {
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='-10 -18 100 135'%3E%3Ccircle cx='50' cy='50' r='50' fill='%23FFD54F' stroke='none' stroke-width='3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.container input:checked~.yellow {
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='-10 -18 100 135'%3E%3Ccircle cx='50' cy='50' r='50' fill='%23FFD54F'/%3E%3Cpath fill='%23B29537' d='M72 25L42 71 27 56l-4 4 20 20 34-52z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

/* Blue */

.blue {
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='-10 -18 100 135'%3E%3Ccircle cx='50' cy='50' r='50' fill='%234FC3F7' stroke='none' stroke-width='3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.container input:checked~.blue {
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='-10 -18 100 135'%3E%3Ccircle cx='50' cy='50' r='50' fill='%234FC3F7'/%3E%3Cpath fill='%233686AA' d='M72 25L42 71 27 56l-4 4 20 20 34-52z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

/* Green */

.green {
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='-10 -18 100 135'%3E%3Ccircle cx='50' cy='50' r='50' fill='%23AED581' stroke='none' stroke-width='3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.container input:checked~.green {
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='-10 -18 100 135'%3E%3Ccircle cx='50' cy='50' r='50' fill='%23AED581'/%3E%3Cpath fill='%236F8852' d='M72 25L42 71 27 56l-4 4 20 20 34-52z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.add_btn {
  margin-left: auto;
  margin-right: 20px;
  background: #44C767;
  color: #FFF;
  font-weight: 600;
  padding: 5px 30px;
  border: solid 1px #35BB4F;
  border-radius: 20px;
  cursor: pointer;
}

.add_btn:hover {
  background: #35BB4F;
}