.pink {
  background-color: #F06292;
}

.purple {
  background-color: #BA68C8;
}

.yellow {
  background-color: #FFD54F;
}

.blue {
  background-color: #4FC3F7;
}

.green {
  background-color: #AED581;
}